#endGame {
    position: absolute;
    width: 50%;
    transform: translate(50%, 50%);
    display: none;
    align-items: center;
    flex-direction: column;
    background: #3D8D98;
    border-radius: 15px;
    padding: 20px;
}

.player-container, #score {
    display: flex;
    flex-direction: row;
    font-family: 'Papercut';
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    white-space: pre;
}

#players {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#gameName {
    font-family: 'ComicDaddy';
    color: #FCB404;
    text-align: center;
    font-size: 107px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}