annotated-types==0.7.0
asgiref==3.8.1
async-timeout==4.0.3
certifi==2024.2.2
cffi==1.16.0
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.5
Django==5.0.7
django-cors-headers==4.3.1
django-redis==5.4.0
gunicorn==22.0.0
h11==0.14.0
idna==3.7
msgpack==1.0.8
ourJWT==0.1.6
packaging==24.0
psycopg==3.1.18
psycopg2-binary==2.9.9
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.8.0
python-redis-lock==4.0.0
redis==5.0.4
redis-lock==0.2.0
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.11.0
urllib3==2.2.1
uvicorn==0.30.0
websockets==12.0
